html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  max-width: 88%;
  margin: auto;
}

.row::before,
.row::after {
  display: table;
  content: " ";
  clear: both;
}



.col {
  flex: 1;
}

@media only screen and (min-width: $breakpoint-sm) {
  .flex-grid {
    display: flex;
  }
}