body {
	// font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

p { margin-top: 0; }

// Lists
// -------------------------

// Unordered and Ordered lists
ul {
    list-style: none;
    padding: 0;
}

.text-sm { font-size: 1.3rem; }
.text-md { font-size: 1.8rem; }
.text-lg { font-size: 2.2rem; }

.text-center { text-align: center; }

