@import 'variables';
@import 'grid';
@import 'nav';
@import 'hero';
@import 'type';
@import 'helpers';

html {
  font-size: 62.5%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
