$brand-color-tan: #b5a484;
$brand-color-tan--light: #f3f1ed;
$brand-color-red: #bd3131;
$brand-accent: #932525;
$white: #fff;
$black: #000;

$breakpoint-xl: 2000px;
$breakpoint-l: 1000px;
$breakpoint-md: 767px;
$breakpoint-sm: 600px;
$breakpoint-xs: 480px;